p { font-size: 16px;
    font-family: Arial, serif;
    color: dimgray;
    margin-top: 1.5em;
    margin-bottom: 1.5em;}
a{color: yellowgreen;
    background-color: darkblue; text-decoration: none;}
a:visited {color: seagreen;
    background-color:lightskyblue;
    text-decoration:none;}
a:hover {color: darkblue;
    background-color: yellowgreen;}
body {
    max-width: 90%;
    margin: auto 0;
    background: rgb(253,255,255);
    background: linear-gradient(90deg, rgba(253,255,255,1) 0%, rgba(255,216,175,0.9868989832261029) 100%), no-repeat;
    background-image: url("background css.jpg");
  background-position: bottom right;
background-size: cover;
font-family: 'Open Sans', sans-serif;}

blockquote {
    align-content: center;
    display: inline-block;
    width: 50%;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 10%;

    font-size: 160%;
    background-color: lightgray;
    border-style: solid;
    border-width: 0 0 0 3px;
    padding: 30px;}

 blockquote, q {
    font-style: italic;}

.villagers {color: orangered;}
.farmer {color: yellow;}

header > h1 {background-color: orangered}

.bad {
    color: red;}

.good {
    color: green;}

.good, .bad {
    text-transform: uppercase;}

.alternate1 {background-color: grey;}
.alternate2 {background-color: white;}
#first{font-weight: bold;}

img {float:right;
margin: 60px;}
